* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}
a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

header{
	padding: 30px 0;
}
header section.container div.left div.mobilemenu {
	display: none;
	width: 25px;
	margin-right: 10px;
	margin-top: 7px;
}
header section.container div.left div.mobilemenu.active {
	display: block;
}
header section.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header section.container div.left{
	display: flex;
}
header section.container div.left h1{
	width: 80%;
	margin-right: 60px;
}
header section.container div.left h1 a{
	display: inline-block;
}
header section.container div.left h1 a img{
	display: block;
	width: 100%;
}
header section.container div.left ul{
	display: flex;
}
header section.container div.left li{
	margin-right: 40px;
}
header section.container div.left li a{
	font-size: 13px;
	color: grey;
}
header section.container div.left li a:hover{
	color: #000;
}	
header section.container div.left li:hover{
	margin-bottom: -42px;
	border-bottom: 3px solid #FE7D1F;
}
header section.container div.right{

}
header section.container div.right span{
	display: inline-block;
	width: 20px;
}
header section.container div.right span.one {
	width: 40px;
	margin-left: 15px;
}
header section.container div.right span.one:hover {
	border: 2px solid #FE7D1F;
	border-radius: 50px;
}
header section.container div.right span img{
	width: 100%;
	display: block;
}
header hr.line{
	margin-top: 30px;
	border: 1px solid #D2C8F2;
}
#spotlight{
	padding: 30px 0;
}
#spotlight section.container{
	padding: 0 65px;
	display: flex;
	justify-content: space-between;
}
#spotlight section.container div.left{
	width: 42%;
}
#spotlight section.container div.left div.image{
	margin-bottom: 30px;
}
#spotlight section.container div.left div.image img{
	width: 100%;
	border-radius: 30px;
	display: block;
}
#spotlight section.container div.left ul{
	display: flex;
	justify-content: space-between;
}
#spotlight section.container div.left ul li{
	width: 120px;
	margin-right: 20px;
}
#spotlight section.container div.left ul li:hover{
	border: 2px solid #FE7D1F;
	border-radius: 14px;
}
#spotlight section.container div.left ul li img:hover{
	opacity: 0.5;
}
#spotlight section.container div.left ul li img{
	width: 100%;
	border-radius: 15px;
	display: block;
}
#spotlight section.container div.right {
	width: 45%;
	padding: 70px 0;
}
#spotlight section.container div.right h3 {
	color:#E08443;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
#spotlight section.container div.right h2 {
	font-size: 42px;
	color: #000;
	font-weight: 600;
	margin-bottom: 30px;
}
#spotlight section.container div.right p {
	font-size: 13px;
	color: gray;
	width: 80%;
	letter-spacing: 1px;
	margin-bottom: 25px;
}
#spotlight section.container div.right div.span {
	margin-bottom: 5px;
}
#spotlight section.container div.right div.span span{
	font-size: 25px;
	font-weight: bold;
}
#spotlight section.container div.right div.span span.two {
	color: #FE7D1F;
	font-size: 15px;
	padding: 3px;
	display: inline-block;
	background-color: #FFF0E3;
	border-radius: 5px;
	margin-left: 6px;
}
#spotlight section.container div.right h5 {
	color: grey;
	margin-bottom: 25px;
	text-decoration: line-through;
}
#spotlight section.container div.right ul {
	display: flex;
}
#spotlight section.container div.right ul li {
	background-color: #C3C3C3;
	display: flex;
	height: 25px;
	justify-content: space-between;
}
#spotlight section.container div.right ul li.one {
	width: 151px;
	align-items: center;
	background-color: #F7F8FD;
	height: 47px;
	padding: 0 15px;
	border-radius: 10px;
	margin-right: 15px;
}
#spotlight section.container div.right ul li.two {
	padding: 22px 60px;
	background-color: #FF7D1B;
	align-items: center;
	border-radius: 10px;
}
#spotlight section.container div.right ul li.two:hover {
	opacity: 0.5;
}
#spotlight section.container div.right ul li span{
	display: inline-block;
}
#spotlight section.container div.right ul li.two span{
	color: #fff;
	font-weight: bold;
	display: inline-block;
	font-size: 12px;
}
#spotlight section.container div.right ul li.two span.cart{
	display: inline-block;
	width: 14px;
	margin-right: 10px;
}
#spotlight section.container div.right ul li.two span.cart img{
	display: inline-block;
	width: 100%;
}

/* mobilemenu */

header section.menu{
	background: #fff;
	width: 270px;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	position: fixed;
	padding: 30px 25px ;
	display: none;
}
header section.menu.active{
	display: block;
}
header section.menu div.close{
	width: 20px;
	margin-bottom: 60px;
}
header section.menu div.close img{
	width: 100%;
	display: block;
}
header section.menu ul{
	
}
header section.menu ul li{
	margin-bottom: 30px;
	
}
header section.menu ul li a{
	font-weight: bold;
	font-optical-sizing: 15px;
}
span.overlay {
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 2;
	display: none;
}
span.overlay.active {
	display: block;
}
@media all and (max-width: 1280px){
	#spotlight section.container div.right ul li.two {
		padding: 22px 50px;
	}
}
@media all and (max-width: 1080px){
	#spotlight section.container div.right h2 {
		font-size: 40px;
	}
	#spotlight section.container div.right ul li.two {
		padding: 22px 40px;
	}
	#spotlight section.container div.right {
		padding: 20px 0;
	}
}
@media all and (max-width: 980px){
	header section.container div.left li {
		margin-right: 25px;
	}
	#spotlight section.container {
		padding: 0 25px;
	}
	#spotlight section.container div.right {
		padding: 0;
	}
	#spotlight section.container div.right h2 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	#spotlight section.container div.right p {
		width: 100%;
	}
	#spotlight section.container div.right ul li.two {
		padding: 22px 15px;
	}
	#spotlight section.container div.right ul li.one {
		width: 140px;
	}
}
@media all and (max-width: 768px){
	header section.container div.left h1 {
		margin-right: 25px;
	}
	header section.container div.left li {
    	margin-right: 15px;
	}
	header section.container div.right {
		display: flex;
		align-items: center;
	}
	#spotlight section.container {
		padding: 0;
	}
	#spotlight section.container div.left {
		width: 47%;
	}
	#spotlight section.container div.right {
		width: 46%;
	}
	#spotlight section.container div.right ul li.one {
		width: 120px;
	}
}
@media all and (max-width: 640px){
	header {
		padding: 30px;
	}
	header section.container div.left ul {
		display: none;
	}
	#spotlight section.container {
		flex-wrap: wrap;
	}
	#spotlight section.container div.left ul {
		display: none;
	}
	#spotlight section.container div.left {
		width: 100%;
		margin-bottom: 30px;
	}
	#spotlight section.container div.right {
		width: 90%;
		margin: 0 auto;
	}
	#spotlight section.container div.right div.span {
		margin-bottom: 15px;
	}
	#spotlight section.container div.right ul {
		flex-wrap: wrap;
	}
	#spotlight section.container div.right ul li.one {
		width: 90%;
		margin: 0 auto 20px;
	}
	#spotlight section.container div.right ul li.two {
		width: 90%;
		margin: 0 auto;
		padding: 22px 121px;
	}
	header section.container div.left div.mobilemenu {
		display: block;
	}
}
@media all and (max-width: 480px){
	header {
		padding: 25px 16px;
	}
	header section.container div.left h1 {
		width: 50%;
	}
	#spotlight section.container div.right ul li.two {
		padding: 22px 78px;
	}
	header section.menu {
		width: 240px;
	}
}
@media all and (max-width: 360px){
	#spotlight section.container div.right p {
		font-size: 12px;
	}
	#spotlight section.container div.right ul li.two {
		padding: 22px 60px;
	}
	header section.menu {
		width: 210px;
	}
}








